---
import Main from "../components/Main.astro";
const profilePicture = "https://i.imgur.com/kWXI5VE.jpeg";
// import ContactForm from "../components/ContactForm.svelte";
import Layout from "../layouts/Layout.astro";
// import ContactForm from "../components/ContactForm.jsx";
import ContactForm from "../components/ContactForm.astro";
import AboutContent from "../content/standlone/about.md";

const {
  title = "About Anna Fisher",
  description = "About Anna Fisher personalsite",
} = Astro.props;
---

<Layout>
  <Main>
    <div class="flex items-start space-x-6 ml-20 mt-8">
      <img
        src={profilePicture}
        alt="Astronaut Anna Fisher"
        class="w-100px h-100px rounded-full border border-gray-300"
      />

      <div class="prose font-roboto-mono text-inherit">
        <h2 class="text-xxl leading-tight mt-0 mb-1">
          About Astronaut Anna Fischer
        </h2>
        <h3 class="text-base leading-snug mt-5 mb-10">
          I help extend your limits
        </h3>

        <AboutContent />

        <ContactForm client:load />
      </div>
    </div>
  </Main>
</Layout>
