---
const profilePicture = "https://i.imgur.com/kWXI5VE.jpeg";
import Layout from "../layouts/Layout.astro";
import Main from "../components/Main.astro";
import Cards from "../components/Cards.astro";

import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

const latestPosts: CollectionEntry<"posts">[] = await getCollection(
  "posts"
).then((collection) =>
  collection
    .sort(
      (a, b) =>
        new Date(b.data.Date).getTime() - new Date(a.data.Date).getTime()
    )
    .slice(0, 3)
);
---

<Layout>
  <Main>
    <div class="flex items-start space-x-6 ml-20 mt-8">
      <img
        src={profilePicture}
        alt="Astronaut Anna Fisher"
        class="w-100px h-100px rounded-full border border-gray-300"
      />

      <div class="prose font-roboto-mono text-inherit">
        <h1 class="text-xxl leading-tight mt-0 mb-1 text-inherit">
          Astronaut Anna Fischer
        </h1>
        <h2 class="text-lg leading-snug mt-0 mb-10 text-inherit">
          Explorer of outer worlds
        </h2>
      </div>
    </div>

    <Cards
      class="prose font-roboto-mono text-inherit"
      cards={[
        {
          to: "/Projects",
          title: "Projects",
          description: "What I am working on",
          image: "public/images/solarproject.jpg",
        },
        {
          to: "/Teaching",
          title: "Teaching",
          description: "Courses I am teaching",
          image: "public/images/fischer.png",
        },
        {
          to: "/BeyondTheStars",
          title: "Beyond The Stars",
          description: "Besides work",
          image: "public/images/kite.jpg",
        },
      ]}
    />

    <div class="mt-10 ml-48 prose font-roboto-mono text-inherit">
      <h2>Latest Blog Posts 🚀</h2>
      <ul class="blog-post-title mt-0">
        {
          latestPosts.map((post) => (
            <li>
              <a href={`/blog/${post.slug}`}>{post.data.title}</a>
            </li>
          ))
        }
      </ul>
      <a href="/blog">Read more blog posts &rarr;</a>
    </div>
  </Main>
</Layout>
