---
import Card from "./Card.astro";
import type { Props as CardProp } from "./Card.astro";

type Props = {
  cards: CardProp[]; // accepts an array of CardProps
};

// Retrieve the cards prop
const { cards } = Astro.props;
---

<div class="flex flex-wrap ml-44 -mx-2">
  {cards.map((card) => <Card {...card} />)}
</div>
