---
import type { CollectionEntry } from "astro:content";
import Post from "./Post.astro";
import Layout from "../layouts/Layout.astro";

type Props = {
  posts: CollectionEntry<"posts">[];
  postId: string;
};

const { posts, postId } = Astro.props;
---

<Layout>
  <div class="grid grid-cols-2 gap-x-16 gap-y-32 md:grid-cols-1 md:gap-y-14">
    {posts.map((post) => <Post post={post} postId={post.id} />)}
  </div>
</Layout>
